<%- include("partials/header"); -%>

</head>
<body>
    <table>
        <tr>
            <td>
                <!-- Form for crud operations -->
                <form action='/add', method="POST">
                    <div>
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </div>
                    <div>
                        <label for="">Name</label>
                        <input type="name" name="name">
                    </div>
                    <div>
                        <label for="">Description</label>
                        <input type="text" name="desc">
                    </div>
                    <button type="submit" class="btn btn-dark">Publish</button>
                </form>
            </td>
        </tr>
    </table>

<%- include("partials/footer"); -%>