<%- include("partials/header"); -%>

</head>
<body>
    <table>
        <tr>
            <td>
                <!-- Form for crud operations -->
                <form autocomplete="off">
                    <div>
                        <label for="">Full name</label>
                        <input type="text" name="fullname">
                    </div>
                    <div>
                        <label for="">Age</label>
                        <input type="text" name="naam">
                    </div>
                    <div>
                        <label for="">Height</label>
                        <input type="text" name="lambaai">
                    </div>
                    <div class="form-action-buttons"></div>
                    <input type="Submit" value="Submit">
                </form>
            </td>
            <td>

            </td>
        </tr>
    </table>

<%- include("partials/footer"); -%>